<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/aspirante.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!--Icon-->
    <link rel="icon" href="../assets/UTL.png" type="image/png" />
    <title>Soy Aspirante</title>
  </head>
  <body>
    <!--Barra de navegación-->
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="
        height: 90px;
        background: linear-gradient(120deg, #000c34 19.2%, #009379 85.8%);
      "
    >
      <div class="container-fluid" style="margin-top: 10px">
        <a class="navbar-brand" href="../index.html"
          ><img
            src="../assets/UTL.png"
            style="width: 60px; height: 60px; margin-right: 5px"
            alt=""
          />
        </a>
        <div
          style="
            display: inline-block;
            color: white;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            text-align: left;
            font-size: large;
          "
        >
          Universidad Tecnológica de León
          <p
            style="
              color: white;
              font-size: 14px;
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
              text-align: left;
            "
          >
            Ser, Saber, Hacer
          </p>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="width: 180px">
              <p
                id="fecha-hora"
                style="color: white; font-size: 12px; margin-left: 30px"
              ></p>
            </li>
          </ul>
          <button
            id="menu-toggle"
            class="btn"
            type="button"
            style="
              border-style: none;
              margin-left: 480px;
              background-color: transparent;
            "
          >
            <img
              src="../assets/menu-icon1.png"
              style="color: white; width: 40px; height: 40px"
              alt=""
            />
          </button>
        </div>
      </div>
    </nav>
    <br />

    <!--Barra lateral-->
    <div id="sidebar" class="sidebar">
      <button
        id="close-btn"
        class="close-btn btn-close-white"
        style="margin-left: 10px; border-radius: 5px"
      >
        X
      </button>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="#">Somos UTL</a></li>
        <li><a href="soyAspirante.html">Soy Aspirante</a></li>
        <li><a href="soyEstudiante.html">Soy Estudiante</a></li>
        <li><a href="soyDocente.html">Soy Docente</a></li>
        <li>
          <a href="soyAdministrativo.html">Soy Administrativo/a</a>
        </li>
        <li><a href="soyEmpresario.html">Soy Empresario/a</a></li>
        <li><a href="../soyEgresado.html">Soy Egresado/a</a></li>
      </ul>
    </div>

    <!--Contenido de la pagina-->

    <br />
    <h1 style="margin-left: 20px">Soy Aspirante</h1>
    <hr
      style="
        color: #000000;
        font-weight: bold;
        font-size: large;
        margin-left: 20px;
        margin-right: 20px;
      "
    />
    <br />

    <!--Tab principal-->
    <div class="Container" style="margin-left: 50px">
      <div class="wrap">
        <ul class="tabs" style="border-radius: 30px 30px 0 0">
          <li>
            <a href="#tab1"
              ><span class="fa fa-home"></span
              ><span class="tab-text">Nuestra Rectora</span></a
            >
          </li>
          <li>
            <a href="#tab2"
              ><span><i class="fa-solid fa-users"></i></span
              ><span class="tab-text">¿Quiénes somos?</span></a
            >
          </li>
          <li>
            <a href="#tab3"
              ><span class="fa fa-briefcase"></span
              ><span class="tab-text"
                >¿Como ingreso a estudiar en la UTL?</span
              ></a
            >
          </li>
          <li>
            <a href="#tab4">
              <span class="fa fa-book"></span>
              <span class="tab-text" style="font-size: smaller">
                <p>Oferta Educativa</p>
                <p>(Carreras de TSU e Ingeniería)</p>
              </span>
            </a>
          </li>
        </ul>

        <!--Tab1-->
        <div class="secciones" style="overflow-y: scroll; margin-bottom: 5px">
          <article id="tab1">
            <div class="card">
              <b>
                <div
                  class="card-header"
                  style="
                    font-size: 26px;
                    background-color: #0b2e78;
                    color: #fff;
                  "
                >
                  Mensaje de Nuestra Rectora
                </div></b
              >
              <div class="card-body" style="background-color: #f6f7fa">
                <br />
                <img
                  src="../assets/rectora.jpg"
                  style="
                    width: 250px;
                    height: 350px;
                    margin-left: 200px;
                    margin-bottom: 10px;
                  "
                  class="card-img"
                  alt="Imagen de la tarjeta"
                />
                <br />
                <p class="card-text">
                  Es un gusto muy especial dirigirme a todas y todos los
                  integrantes de la Comunidad UTL: estudiantado, personal
                  docente y administrativo, y demás plantilla actoral de nuestro
                  entorno universitario. Desde marzo ya estamos de regreso a
                  casa. Y en este deseo de normalizar nuestra vida
                  universitaria, hemos vivenciado un proceso necesario de
                  reencuentro, de reconocimiento, para compensar esos meses de
                  confinamiento que afectaron nuestra forma de relacionarnos
                  personal y colectivamente.
                </p>
                <p class="card-text">
                  Pero si algo nos define, es que somos una institución
                  tecnológicamente humana, en innovación y adaptación constante.
                  Y en esta nueva realidad, que nos enfocamos en dar prioridad a
                  la salud, atendiendo en todo momento a las medidas sanitarias
                  para mantener a raya todo contagio.
                </p>
                <p class="card-text">
                  Además, es necesario, como dice nuestro Gobernador Diego
                  Sinhué Rodríguez, reinventarnos para ser mejores, esto es,
                  crear nuevas formas de realizar el proceso formativo,
                  académico, administrativo para que nuestra UTL siga siendo
                  considerada un bastión importante del ecosistema educativo
                  guanajuatense.
                </p>
                <p class="card-text">
                  Como bien lo dice nuestro lema “Somos Leones, Somos Leonas”,
                  les invito a construir entre todos una “guarida segura” donde
                  prevalezca un ambiente de colaboración y convivencia, donde
                  nos sintamos a gusto en “nuestra guarida”, promoviendo una
                  cultura de paz y de respeto a nuestros derechos humanos
                  fundamentales. Acorde a los nuevos tiempos, mostremos a la
                  sociedad que la UTL es íntegra, inclusiva y sostenible.
                </p>
                <small style="font-weight: bold"
                  >Yoloxóchitl Bustamante Díez
                </small>
                <br />
                <small>Encargada del Despacho de Rectoría</small>
              </div>
            </div>
          </article>

          <!--Tab2-->
          <article id="tab2">
            <div class="container mt-4">
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      src="../assets/leon.jpg"
                      style="height: 380px"
                      class="card-img"
                      alt="Imagen de la tarjeta"
                    />
                  </div>
                  <div class="col-md-8" style="background-color: #f6f7fa">
                    <div class="card-body">
                      <h5 class="card-title">Historia</h5>
                      <p class="card-text">
                        La Universidad Tecnológica de León inició su
                        funcionamiento el 26 de septiembre de 1995, con la
                        inauguración de cursos efectuada por el C. Vicente Fox
                        Quesada, Gobernador Constitucional del Estado de
                        Guanajuato, ante la presencia de altas personalidades
                        del gobierno federal, estatal, municipal y la comunidad
                        universitaria. Desde el 25 de septiembre de 1995 y hasta
                        la fecha, formamos ciudadanos y ciudadanas de bien, con
                        pensamiento global y acción local, con innovación,
                        profundos valores humanos y universales y sobre todo,
                        brindando educación tecnológica y de calidad, orientada
                        a la industria 4.0 y la mente-factura”.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="container mt-4">
              <div class="card">
                <div class="card-header">
                  <h3>Modelo Educativo</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6 mb-3">
                      <p>
                        Estudiando en la UTL se pueden lograr 2 títulos
                        profesionales en menos de 4 años. Debido a la formación
                        intensiva cuatrimestral en los primeros 2 años se puede
                        obtener el título como Técnico/a Superior
                        Universitario/a (TSU) y continuando los estudios por 1
                        año 8 meses más, se consigue un segundo título como
                        Ingeniería o Licenciatura.
                      </p>
                      <p>Brindamos formación 70% práctica y 30% teórica.</p>
                    </div>
                    <div class="col-6 mb-3" style="align-content: center">
                      <img
                        src="https://www.utleon.edu.mx/resource/img/imagenes/IMAGEN.jpg"
                        alt=""
                        style="
                          width: 400px;
                          height: 250px;
                          border-radius: 0px 64px 0px 64px;
                        "
                      />
                    </div>
                    <br />
                    <div class="col-6">
                      <img
                        src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Ventaja_estudiar_nosotros.jpg"
                        alt=""
                        style="
                          width: 400px;
                          height: 250px;
                          border-radius: 0px 64px 0px 64px;
                        "
                      />
                    </div>
                    <div class="col-6">
                      <h5>Ventajas de Estudiar en UTL</h5>
                      <p>
                        La Universidad Tecnológica de León (UTL) forma parte del
                        Sistema Nacional de Universidades Tecnológicas,
                        integrado por más de 122 planteles en la República
                        Mexicana. Nuestro modelo ofrece planes de estudio
                        funcionales, para formar a los profesionales que
                        requieren los sectores productivos y sociales.
                      </p>
                      <p>
                        La UTL cuenta con mas de 27 años de experiencia y ha
                        recibido importantes reconocimientos de calidad. Tenemos
                        las certificaciones en la norma ISO 9001:2015 e ISO
                        14001:2015, NMX-R-025-SCFI-2015, además de todos
                        nuestros programas educativos están acreditados en
                        calidad por organismos reconocidos por el COPAES
                        (Consejo para la Acreditación de la Educación Superior)
                        y CIEES (Comités Interinstitucionales para la Evaluacion
                        de la Educacion Superior).
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <!--Tab3-->
          <article id="tab3">
            <div class="container mt-4">
              <div class="card">
                <div class="card-header">
                  <h3>Admisiones TSU</h3>
                </div>
                <div class="card-body">
                  <iframe
                    src="https://view.genial.ly/61ddab3ca31fbb0d87451c9b/horizontal-infographic-diagrams-proceso-de-admision-tsu-2023"
                    width="100%"
                    height="1500px"
                  ></iframe>
                </div>
              </div>
              <br />
              <div class="card">
                <div class="card-header">
                  <h3>Admisiones Ingenierías y Licenciaturas</h3>
                </div>
                <div class="card-body">
                  <iframe
                    src="https://view.genial.ly/6470f08a4ee68f0019b5b74f/horizontal-infographic-diagrams-diagrama-numeros"
                    width="100%"
                    height="1500px"
                  ></iframe>
                </div>
              </div>
            </div>
          </article>

          <!--Tab4-->
          <article id="tab4">
            <div class="container mt-4">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Entornos%20Virtuales%20y%20Negocios%20Digitales.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN TI ÁREA ENTORNOS VIRTUALES Y NEGOCIOS DIGITALES
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Desarrollo%20de%20Software%20Multiplataforma.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN TI ÁREA DESARROLLO DE SOFTWARE MULTIPLATAFORMA
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Redes%20y%20Telecomunicaciones.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN TI ÁREA INFRAESTRUCTURA DE REDES DIGITALES
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/administracion.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN ADMINISTRACIÓN ÁREA CAPITAL HUMANO
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Turismo.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">TSU EN TURISMO ÁREA HOTELERÍA</h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Gastronom%C3%ADa.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">TSU EN GASTRONOMÍA</h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Transporte%20Terrestre.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN LOGÍSTICA ÁREA TRANSPORTE TERRESTRE
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Qu%C3%ADmica.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN QUÍMICA ÁREA TECNOLOGÍA AMBIENTAL
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Manufactura.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN MECATRÓNICA ÁREA SISTEMAS DE MANUFACTURA FLEXIBLE
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Optomecatr%C3%B3nica.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN MECATRÓNICA ÁREA OPTOMECATRÓNICA
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Automotriz.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN PROCESOS INDUSTRIALES ÁREA AUTOMOTRIZ
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Mecatr%C3%B3nica.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN PROCESOS INDUSTRIALES ÁREA MANUFACTURA
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Pl%C3%A1sticos.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN PROCESOS INDUSTRIALES ÁREA PLÁSTICOS
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Gesti%C3%B3n%20y%20Productividad%20de%20Calzado.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN PROCESOS INDUSTRIALES ÁREA GESTIÓN Y
                        PRODUCTIVIDAD DE CALZADO
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Mantenimiento%20Industrial.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        TSU EN MANTENIMIENTO ÁREA INDUSTRIAL
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <br />
                <div class="col-12 mb-3">
                  <hr />
                  <h2 class="text-center">Carreras de ING y LIC</h2>
                  <hr />
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_TSU/Entornos%20Virtuales%20y%20Negocios%20Digitales.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        INGENIERÍA EN ENTORNOS VIRTUALES Y NEGOCIOS DIGITALES
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/gesti%C3%B3n%20de%20software.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        INGENIERÍA EN DESARROLLO Y GESTIÓN DE SOFTWARE
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/redes%20inteligentes%20y%20ciberseguridad.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        INGENIERÍA EN REDES INTELIGENTES Y CIBERSEGURIDAD
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/Capital%20Humano.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        LICENCIATURA EN GESTIÓN DEL CAPITAL HUMANO
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/Innovaci%C3%B3n%20de%20Negocios%20y%20Mercadotecnia.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        LICENCIATURA EN INNOVACIÓN DE NEGOCIOS Y MERCADOTECNIA
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/Desarrollo%20Tur%C3%ADstico.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        LICENCIATURA EN GESTIÓN Y DESARROLLO TURÍSTICO
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/Gastronom%C3%ADa.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">LICENCIATURA EN GASTRONOMÍA</h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/Redes%20Log%C3%ADsticas.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        LICENCIATURA EN DISEÑO Y GESTIÓN DE REDES LOGÍSTICAS
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/Tecnolog%C3%ADa%20Ambiental.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        INGENIERÍA EN TECNOLOGÍA AMBIENTAL
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/Mecatr%C3%B3nica.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">INGENIERÍA EN MECATRÓNICA</h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/Mantenimiento%20Industrial.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        INGENIERÍA EN MANTENIMIENTO INDUSTRIAL
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://www.utleon.edu.mx/resource/img/imagenes/Soy_Aspirante/Oferta_Educativa_ING/Sistemas%20Productivos.JPG"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        INGENIERÍA EN SISTEMAS PRODUCTIVOS
                      </h5>

                      <a href="#" class="btn btn-primary">Leer Más</a>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <br />
    <br />

    <!--Pie de página-->
    <footer style="background-color: #000c34; text-align: center">
      <!--Logos de pie de página-->
      <img
        src="../assets/logos.jpg"
        style="border: gray 1px solid; width: 1120px"
        alt=""
      />
      <div style="background-color: #009379">
        <br />
      </div>
      <br />
      <div class="row-cols-1">
        <div class="col-12" style="color: #fff; font-size: smaller">
          <p>Blvd. Universidad Tecnológica #225 Col. San Carlos</p>
        </div>
        <div class="col-12" style="color: #fff; font-size: smaller">
          <p>CP. 37670 León, Gto. Mex. l Tel (477) 7 10 00 20</p>
        </div>
        <div
          class="col-12"
          style="
            color: #009379;
            font-size: smaller;
            display: flex;
            align-content: center;
            justify-content: center;
          "
        >
          <p [href]="url">Aviso de Privacidad Simplificado</p>
          <p style="color: #fff; padding: 5px">|</p>
          <p [href]="url">Aviso de Privacidad Integral</p>
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="../JS/index.js"></script>
  </body>
</html>
